body {
    margin: 0;
    padding: 0;
}

header {
  background-color: #13453d;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

footer {
  background-color: #13453d;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

main { 
  background-color: #8ff8e8;
  font-family: 'Concert One', cursive;
  color: #13453d;
}

img{
    height: 50%;
    object-fit: cover;
}

#travel {
    color:#13453d;
}